// COLORS
$primary-color: #f56416;
$secondary-color: #e28413;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: #efcefa;

$dark-grey: #6a3937;

$dark-blue-text: #3b0d11; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
